# Data and Finance
yfinance
pandas
numpy
backtrader

# Machine Learning
scikit-learn
xgboost
joblib

# Natural Language Processing (NLP)
spacy==3.7.2
textblob
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm

# Web and Async
requests
aiohttp
